@model IEnumerable<TaskItem>

@{
    ViewData["Title"] = "List of Tasks";
}

<div class="row">
    @foreach (var unitCodeGroup in Model.GroupBy(t => t.UnitCode))
    {
        <div class="col-md-12">
            <h3>@unitCodeGroup.Key</h3>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered custom-table">
                <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Due Date</th>
                        <th>Notes</th>
                        <th>Date Completed</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in unitCodeGroup)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.DueDate.ToString("dd MMM yyyy hh:mm tt")</td>
                            <td>@item.Comments</td>
                            <td>@item.CompletedDate.ToString()</td>
                            <td>
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details</a>
                                <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<div style="position: fixed; right: 25px; bottom: 25px; " class="text-white">
    <a asp-controller="Tasks" asp-action="Create" class="btn btn-success"> <i class="bi bi-plus-circle"></i> Add Task </a>
</div>
